<div class="container-fluid xct-menu-bar">
	<div class="container">
		<a href="/">Trang chủ</a>
		<span>
		 &nbsp»&nbsp
		</span>
		<span th:text="${tenTrang}"></span>
	</div>
</div>
<div class="container">
	<div class="row xct-lienhe">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<h4>LIÊN HỆ</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h5>HYUNDAI PHẠM VĂN ĐỒNG</h5>
					<p>Địa chỉ: 16A Phạm Hùng, Mai Dịch, Cầu Giấy, Hà Nội</p>
					<p>Hotline: 0964.938.186</p>
					<p>Email: lienhe@hyundai-hanoi.com.vn</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<iframe loading="lazy" style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.07333014128!2d105.77648541493258!3d21.029751685997837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b3bcd01691%3A0x3c24955154ba2370!2zMTYgUGjhuqFtIEjDuW5nLCBN4bu5IMSQw6xuaCwgVOG7qyBMacOqbSwgSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1622852885819!5m2!1svi!2s" width="100%" height="450" allowfullscreen="allowfullscreen"></iframe>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12">
					<img alt="" src="/images/dang-ky-nhan-gia-uu-dai.png" width="100%">
					<h5 class="xct-primary-color">Từ Đại lý Hyundai Phạm Hùng</h5>
					<p>
						<span class="xct-bold">Hyundai Phạm Hùng</span> là đại lý 3S tiêu chuẩn của GMV nằm tại địa điểm rộng rãi. Được thiết kế hiện đại với khu trưng bày đầy đủ các dòng xe Hyundai, khu trưng bày phụ kiện, xưởng dịch vụ sửa chữa với hệ thống máy móc trang thiết bị hiện đại nhất đạt tiêu chuẩn Cục đăng kiểm Việt Nam.
					</p>
				</div>
			</div>
			<div class="row" style="margin-top: 20px;">
				<div class="col-md-12">
					<p><i class="material-icons">location_on</i><span style="margin-left: 0.5em;">16A Phạm Hùng, Mai Dịch, Cầu Giấy, Hà Nội</span></p>
					<p><i class="material-icons">local_phone</i><span style="margin-left: 0.5em;">0989 38 6679</span></p>
					<p><i class="material-icons">mail_outline</i><span style="margin-left: 0.5em;">lienhe@hyundai-hanoi.com.vn</span></p>
					<p><i class="far fa-clock"></i><span style="margin-left: 0.5em;">Hoạt động cả tuần từ 8h00 đến 17h30</span></p>
				</div>
			</div>
			<div class="row" style="margin-top: 20px;">
				<div class="col-md-12">
					<a class="xct-lienhe-btn"><i class="material-icons" style="font-size: 16px;">attach_money</i><span style="margin-left: 0.5em;">GỬI YÊU CẦU BÁO GIÁ</span></a>
					<a class="xct-lienhe-btn"><i class="material-icons" style="font-size: 16px;">directions_car</i><span style="margin-left: 0.5em;">ĐĂNG KÝ LÁI THỬ XE</span></a>
				</div>
			</div>
		</div>
	</div>
</div>